experiments/01-SONAR-DST1200_DISTANCE_SENSOR/flows/basic_flow.json
[
    {
        "id": "0346cd31e8d37ccc",
        "type": "tab",
        "label": "HUB0000_0_SKETCH",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "14c0aeced4317a7d",
        "type": "phidget22-connect",
        "z": "0346cd31e8d37ccc",
        "name": "",
        "port": "5661",
        "hostname": "localhost",
        "debug": false,
        "retry": false,
        "x": 560,
        "y": 200,
        "wires": [
            [
                "1c473e9b3b15b6d3",
                "3cf167234a94c1fd"
            ]
        ]
    },
    {
        "id": "1c473e9b3b15b6d3",
        "type": "phidget22-distancesensor",
        "z": "0346cd31e8d37ccc",
        "name": "SONAR",
        "channel": 0,
        "deviceSerialNumber": -1,
        "hubPort": 0,
        "debug": false,
        "dataInterval": "100",
        "distanceChangeTrigger": 0,
        "sonarQuietMode": false,
        "openTimeout": "5000",
        "x": 820,
        "y": 140,
        "wires": [
            [
                "ed8451a946e902cf"
            ]
        ]
    },
    {
        "id": "ed8451a946e902cf",
        "type": "change",
        "z": "0346cd31e8d37ccc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.distances[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 140,
        "wires": [
            [
                "b97dee4516b3d2cf"
            ]
        ]
    },
    {
        "id": "b97dee4516b3d2cf",
        "type": "smooth",
        "z": "0346cd31e8d37ccc",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 1340,
        "y": 140,
        "wires": [
            [
                "695c18b73f6dedd9",
                "37d6426a709c7eb9"
            ]
        ]
    },
    {
        "id": "695c18b73f6dedd9",
        "type": "ui_gauge",
        "z": "0346cd31e8d37ccc",
        "name": "SONAR",
        "group": "d2bba3847534bfa8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distance",
        "label": "mm",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1680,
        "y": 100,
        "wires": []
    },
    {
        "id": "37d6426a709c7eb9",
        "type": "osc",
        "z": "0346cd31e8d37ccc",
        "name": "",
        "path": "/phidget/distance",
        "metadata": false,
        "x": 1670,
        "y": 140,
        "wires": [
            [
                "7f4dd6f122f161dc"
            ]
        ]
    },
    {
        "id": "7f4dd6f122f161dc",
        "type": "udp out",
        "z": "0346cd31e8d37ccc",
        "name": "",
        "addr": "10.10.155.194",
        "iface": "",
        "port": "12345",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1910,
        "y": 220,
        "wires": []
    },
    {
        "id": "3cf167234a94c1fd",
        "type": "phidget22-lightsensor",
        "z": "0346cd31e8d37ccc",
        "name": "",
        "channel": "0",
        "deviceSerialNumber": -1,
        "debug": false,
        "dataInterval": "125",
        "hubPort": "1",
        "illuminanceChangeTrigger": 0,
        "openTimeout": "5000",
        "x": 840,
        "y": 280,
        "wires": [
            [
                "4179ba16c28beaf5"
            ]
        ]
    },
    {
        "id": "75c53f1364916a76",
        "type": "ui_gauge",
        "z": "0346cd31e8d37ccc",
        "name": "Light Sensor",
        "group": "078e9734e2bcd054",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Iluminance",
        "label": "Lux",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1670,
        "y": 280,
        "wires": []
    },
    {
        "id": "9f0ec8b0a5993146",
        "type": "osc",
        "z": "0346cd31e8d37ccc",
        "name": "",
        "path": "/phidget/iluminance",
        "metadata": false,
        "x": 1670,
        "y": 320,
        "wires": [
            [
                "7f4dd6f122f161dc"
            ]
        ]
    },
    {
        "id": "4179ba16c28beaf5",
        "type": "smooth",
        "z": "0346cd31e8d37ccc",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 1080,
        "y": 280,
        "wires": [
            [
                "75c53f1364916a76",
                "9f0ec8b0a5993146",
                "a291f76dd4cb7b96"
            ]
        ]
    },
    {
        "id": "c494213b917ad87d",
        "type": "debug",
        "z": "0346cd31e8d37ccc",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 460,
        "wires": []
    },
    {
        "id": "a291f76dd4cb7b96",
        "type": "change",
        "z": "0346cd31e8d37ccc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.illuminance[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 460,
        "wires": [
            [
                "c494213b917ad87d"
            ]
        ]
    },
    {
        "id": "d2bba3847534bfa8",
        "type": "ui_group",
        "name": "Sonar_Data",
        "tab": "49aaed1a6f1f4348",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "078e9734e2bcd054",
        "type": "ui_group",
        "name": "LUX",
        "tab": "49aaed1a6f1f4348",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "49aaed1a6f1f4348",
        "type": "ui_tab",
        "name": "Dashboard_1",
        "icon": "Dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ab785572a4ad407d",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-phidget22": "2.0.1",
            "node-red-node-smooth": "0.1.2",
            "node-red-dashboard": "3.6.5",
            "node-red-contrib-osc": "1.1.0"
        }
    }
]