experiments/01-SONAR-DST1200_DISTANCE_SENSOR/flows/basic_flow.json
[
    {
        "id": "22302785229f0efd",
        "type": "tab",
        "label": "HUB0000_0_SKETCH",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "84b990b1d4cb8777",
        "type": "phidget22-connect",
        "z": "22302785229f0efd",
        "name": "",
        "port": "5661",
        "hostname": "localhost",
        "debug": false,
        "retry": false,
        "x": 300,
        "y": 200,
        "wires": [
            [
                "0cd44ff11459f3c2"
            ]
        ]
    },
    {
        "id": "0cd44ff11459f3c2",
        "type": "phidget22-distancesensor",
        "z": "22302785229f0efd",
        "name": "SONAR",
        "channel": 0,
        "deviceSerialNumber": -1,
        "hubPort": 0,
        "debug": false,
        "dataInterval": "100",
        "distanceChangeTrigger": 0,
        "sonarQuietMode": false,
        "openTimeout": "5000",
        "x": 520,
        "y": 200,
        "wires": [
            [
                "dfee55a64425c6a8",
                "8601299512b69b61"
            ]
        ]
    },
    {
        "id": "8601299512b69b61",
        "type": "debug",
        "z": "22302785229f0efd",
        "name": "debug 1",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 120,
        "wires": []
    },
    {
        "id": "dfee55a64425c6a8",
        "type": "change",
        "z": "22302785229f0efd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.distances[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 200,
        "wires": [
            [
                "985f6f108b74dff9"
            ]
        ]
    },
    {
        "id": "088e71d03424cdcf",
        "type": "debug",
        "z": "22302785229f0efd",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 200,
        "wires": []
    },
    {
        "id": "985f6f108b74dff9",
        "type": "smooth",
        "z": "22302785229f0efd",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 980,
        "y": 200,
        "wires": [
            [
                "088e71d03424cdcf",
                "6e5b7b7d4ad54470"
            ]
        ]
    },
    {
        "id": "6e5b7b7d4ad54470",
        "type": "ui_gauge",
        "z": "22302785229f0efd",
        "name": "SONAR",
        "group": "d2bba3847534bfa8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distance",
        "label": "mm",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1180,
        "y": 260,
        "wires": []
    },
    {
        "id": "d2bba3847534bfa8",
        "type": "ui_group",
        "name": "Sonar_Data",
        "tab": "49aaed1a6f1f4348",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "49aaed1a6f1f4348",
        "type": "ui_tab",
        "name": "Dashboard_1",
        "icon": "Dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "37c77a5d5e3ae178",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-phidget22": "2.0.1",
            "node-red-node-smooth": "0.1.2",
            "node-red-dashboard": "3.6.5"
        }
    }
]