experiments/02-SPATIAL- MOT1101_0/flows/basic_flow.json
[
  {
    "id": "motorSpatialTab",
    "type": "tab",
    "label": "HUB5000_SPATIAL",
    "disabled": false,
    "info": ""
  },
  {
    "id": "connectSpatial",
    "type": "phidget22-connect",
    "z": "motorSpatialTab",
    "name": "",
    "hostname": "localhost",
    "port": "5661",
    "debug": false,
    "retry": true,
    "x": 200,
    "y": 100,
    "wires": [["spatialNode"]]
  },
  {
    "id": "spatialNode",
    "type": "phidget22-spatial",
    "z": "motorSpatialTab",
    "name": "Spatial",
    "deviceSerialNumber": -1,
    "hubPort": 0,
    "accelerationChangeTrigger": "0",
    "angularRateChangeTrigger": "0",
    "magneticFieldChangeTrigger": "0",
    "dataInterval": "100",
    "openTimeout": "5000",
    "x": 460,
    "y": 100,
    "wires": [["extractAccel"]]
  },
  {
    "id": "extractAccel",
    "type": "change",
    "z": "motorSpatialTab",
    "name": "Extract accel",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.acceleration",
        "tot": "msg"
      }
    ],
    "x": 700,
    "y": 100,
    "wires": [["splitAxes","debugAccel"]]
  },
  {
    "id": "splitAxes",
    "type": "function",
    "z": "motorSpatialTab",
    "name": "Split XYZ for Chart",
    "func": "let acc = msg.payload;\n\nreturn [\n    { topic: \"X\", payload: acc[0] },\n    { topic: \"Y\", payload: acc[1] },\n    { topic: \"Z\", payload: acc[2] }\n];",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 140,
    "wires": [["uiChart"],["uiChart"],["uiChart"]]
  },
  {
    "id": "debugAccel",
    "type": "debug",
    "z": "motorSpatialTab",
    "name": "Accel Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "statusVal": "",
    "statusType": "auto",
    "x": 930,
    "y": 80,
    "wires": []
  },
  {
    "id": "uiChart",
    "type": "ui_chart",
    "z": "motorSpatialTab",
    "name": "Accel Chart",
    "group": "uiGroupAccel",
    "order": 0,
    "width": 6,
    "height": 3,
    "label": "Acceleration (m/s²)",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "7",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#1f77b4","#ff7f0e","#2ca02c"],
    "outputs": 3,
    "x": 1200,
    "y": 140,
    "wires": [[],[],[]]
  },
  {
    "id": "uiGroupAccel",
    "type": "ui_group",
    "z": "",
    "name": "Spatial Data",
    "tab": "uiTab",
    "order": 1,
    "disp": true,
    "width": 6,
    "collapse": false
  },
  {
    "id": "uiTab",
    "type": "ui_tab",
    "z": "",
    "name": "Spatial Dashboard",
    "icon": "dashboard",
    "order": 3,
    "disabled": false,
    "hidden": false
  }
]
